    h1{
        text-decoration: none;
        color:white;
        text-align: center;
    }
    h1:hover
    {
        text-decoration: underline;
        position: relative;
    }
    .x1
    {
        color:white;
        background-color: rgb(81, 194, 231);
        width:200px;
        height:200px;
        border-style:solid;
        border-color: rgb(81, 194, 231);
        text-align: center;
    }
    .x1:hover
    {
        color:white;
        background-color: rgb(81, 194, 231);
        border-width: 100%;
        transform: rotateY(180deg);
    }
    .x2
    {
        color:white;
        background-color:rgb(124, 21, 124);
            width:200px;
            height:200px;
            border-style:solid;
            border-color: rgb(124, 21, 124);
            text-align: center;
    }
    .x2:hover
    {
            color:white;
            background-color: rgb(124, 21, 124);
            border-width: 100%;
            transform: rotateY(360deg);
    }
    .x3
    {
            color:white;
            background-color: rgb(31, 228, 31);
            width:200px;
            height:200px;
            border-style:solid;
            border-color:  rgb(31, 228, 31);
            text-align: center;
    }
    .x3:hover
    {
        color:white;
        background-color: rgb(124, 21, 124);
        border-width: 100%;
        transform: rotateY(130deg);
    }
    .x4
    {
            color:white;
            background-color: red;
            width:200px;
            height:200px;
            border-style:solid;
            border-color: red;
            text-align: center;
    }
    .x5
    {
            color:white;
            background-color: red;
            width:200px;
            height:200px;
            border-style:solid;
            border-color: red;
            text-align: center;
    }
    .x6
    {
            color:white;
            background-color: rgb(31, 228, 31);
            width:200px;
            height:200px;
            border-style:solid;
            border-color:  rgb(31, 228, 31);
            text-align: center;
    }
    .x7
    {
            color:white;
            background-color:rgb(124, 21, 124);
            width:200px;
            height:200px;
            border-style:solid;
            border-color: rgb(124, 21, 124);
            text-align: center;
    }
    .x8
    {
            color:white;
            background-color: rgb(81, 194, 231);
            width:200px;
            height:200px;
            border-style:solid;
            border-color: rgb(81, 194, 231);
            text-align: center;
    }
    .c
    {
            margin-left: 50px;
            margin-right: 50px;
    }